/* TODO: Поработать над типографией */

@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --container-8xl: 68rem;
}

@layer base {
  h1 {
    font-weight: var(--font-weight-extrabold);
    font-size: var(--text-4xl);
  }

  h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-3xl);
  }

  h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--text-2xl);
  }

  h4 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-xl);
  }

  h5 {
    font-weight: var(--font-weight-semibold);
    font-size: var(--text-lg);
  }

  h6 {
    font-weight: var(--font-weight-medium);
    font-size: var(--text-md);
  }
}

:root {
  --ui-container: var(--container-8xl);
}
